/* Page 1 */

.page,
.page__body {
    width: calc(10px + 20px);
    height: 100%;
}

.page {
    background-color: var(--beige);
}

.page__body {
    display: grid;
    margin: 0;
    place-items: center;
}
